# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Dylan Fontaine
	email = 10430358+dylf@users.noreply.github.com
[core]
	editor = nvim
	excludesfile = ~/.gitignore
[init]
	defaultBranch = main
[includeIf "gitdir:~/projects/work/"]
	path = ~/.work.gitconfig
[pull]
	rebase = true
[rebase]
	autoStash = true
[log]
	abbrevCommit = true
[alias]
	cane = commit --amend --no-edit
