# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Dylan Fontaine
	email = 10430358+dylf@users.noreply.github.com
[core]
	editor = nvim
	excludesfile = ~/.gitignore
[init]
	defaultBranch = main
[includeIf "gitdir:~/projects/work/"]
	path = ~/.work.gitconfig
[pull]
	rebase = true
[push]
  autoSetupRemote = true
[rebase]
	autoStash = true
[log]
	abbrevCommit = true
[rerere]
	enabled = true
[column]
	ui = auto
[branch]
	sort = -committerdate

[alias]
  cane = commit --amend --no-edit
  stasha = stash --all
  blame = blame -w -C -C -C
  wdiff = diff --word-diff
  fpush = push --force-with-lease
	commit = commit -n
